body {
  font-family: Helvetica, sans-serif;
  font-size:14px;
  margin-top: 0px;
}

.axis path, .axis line {
  fill: none;
  stroke:#b6b6b6;
  shape-rendering: crispEdges;
}

.tick text {
  fill:#999;
}

g.species.active {
  cursor:pointer;
}

.legend, .header {
  font-weight:bold;
}

text.label, text.column, .legend {
  font-size:14px;
}

text.value {
  font-size:11px;
  font-weight:bold;
}

.div-header {
  position: fixed;
  background-color: white;
  height: 270px;
}

.div-body svg {
  margin-top: 270px;
}

.main {
  /*width: 1330px;*/
  margin:0px auto;
}

.legend {
  width: 600px;
  margin:0px auto;
}

.button-desc {
  float: right;
  width: 520px;
}

input {
  margin-left: 50px;
}

.circle .max {
  fill: blue;
}